*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul li{
    list-style: none;
}

section{
    border-bottom: black 5px solid;
}

.sec-title{
    text-align: center;
    padding: 1rem;
}

h2{
    font-weight: normal;
}

nav{
    background: black;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 5px;
    text-transform: uppercase;
    border-right: whit 1px solid;
    padding-right: 10px;
}

nav ul li: last-child{
    border: none;
}

#about{
    background: #48508b;
    text-align: center;
}

#title{
    padding: 1rem;
}

#about img{
    width: 100%;
}

#info{
    padding: 1rem;
}

.color{
    color: #d89a37;
    -webkit-text-stroke: black 1px;
    font-weight: bold;
}

#gallery{
    background: #d89a37;
}

#gallery ul li{
    padding: 1rem;
}

#gallery ul li img{
    border: solid 2px white;
    width: 100%;
}

#timeline{
    background: #bc4f4c;
}

#timeline ul li{
    background: white;
    margin: 1rem;
    color: darkblue;
    padding: .5rem;
    font-size: 14px;
}

#timeline ul li span{
    background: #d0bb40;
    padding: .7rem;
}

#links{
    background: #48508b;
    text-align: center;
    padding: 1rem 1rem;
}
